.container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
}

li {
    list-style: none;
    cursor: pointer;
}
