.container {
    display: flex;
    flex-direction: column;
    row-gap: 20px;

}

.section {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.title {
    margin: 0;
    color: rgba(171, 177, 197, 1);
    font-size: 14px;
    font-weight: 500;
}

.text {
    font-size: 16px;
    line-height: 22px;
}

@media screen and (min-width: 768px) {
    .container {
        row-gap: 40px;
    }
}

@media screen and (min-width: 1240px) {
    .title {
        font-size: 16px
    }

    .text {
        font-size: 18px;
    }
}