.cube {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 7px 0 5px 13px;
    position: absolute;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.header {
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    margin-bottom: 25px;
    max-width: 383px;
}

.banner {
    display: flex;
    min-height: 15px;
}

.cube:first-child {
    background-color: rgba(215, 230, 255, 1);
    width: 136px;
    height: 89px;

}

.cube:nth-child(2n) {
    background-color: rgba(185, 213, 255, 1);
    left: 120px;
    width: 129px;
    height: 89px;
}

.cube:last-child {
    width: 100px;
    height: 89px;
    background-color: rgba(165, 199, 250, 1);
    left: 220px;
    border-top-right-radius: 15px;
}

@media screen and (min-width: 768px) {

    .cube {
        width: 211px;
        height: 143px;
        padding-left: 33px;
        padding-bottom: 19px
    }

    .topContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .banner {
        position: relative;
    }


    .header {
        font-size: 36px;
    }

    .cube:first-child,
    .cube:nth-child(2n) {
        width: 211px;
        height: 143px;
        clip-path: path("M58.3158 7.49174C60.5595 2.90687 65.2184 0 70.3229 0H203V143H13.4249C3.53718 143 -2.9286 132.637 1.41773 123.756L58.3158 7.49174Z");
    }

    .cube:last-child {
        left: -180px;
        width: 182px;
        height: 143px;
        clip-path: path("M58.3158 7.49174C60.5595 2.90687 65.2184 0 70.3229 0H203V143H13.4249C3.53718 143 -2.9286 132.637 1.41773 123.756L58.3158 7.49174Z");
    }

    .cube:nth-child(2n) {
        left: -317px;
    }

    .cube:first-child {
        left: -452px;
    }

}


@media screen and (min-width: 1000px) {
    .header {
        max-width: none;
    }
}

@media screen and (min-width: 1240px) {

    .header {
        font-size: 48px;
        line-height: 58px;
    }

    .cube:first-child,
    .cube:nth-child(2n) {
        width: 316px;
        height: 207px;
        clip-path: path("M87.2552 10.9657C90.6608 4.23955 97.5593 0 105.098 0H304V207H20.5438C5.63204 207 -4.03533 191.269 2.70053 177.966L87.2552 10.9657Z");
    }

    .cube:nth-child(2n) {
        left: -185px;
    }

    .cube:first-child {
        left: -380px;
    }

    .cube:last-child {
        left: 0;
        width: 272px;
        height: 207px;
        clip-path: path("M87.2552 10.9657C90.6608 4.23955 97.5593 0 105.098 0H240C251.046 0 260 8.9543 260 20V207H20.5438C5.63205 207 -4.03533 191.269 2.70053 177.966L87.2552 10.9657Z");
    }

    .banner {
        top: -54px;
        left: -220px;
    }
}