.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    background-color: rgba(242, 244, 247, 1);
    border-radius: 20px;
    padding: 30px 20px 25px 20px;
}

.title {
    font-size: 14px;
    font-weight: 500;
    color: rgba(171, 177, 197, 1);
}

.slide {
    cursor: pointer;
}

.types {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

.button {
    margin-top: 25px;
    display: flex;
    width: 100%;
    justify-content: center
}

@media screen and (min-width: 768px) {
    .types {
        overflow-y: visible;
        overflow-x: auto;
    }
}

@media screen and (min-width: 1020px) {
    .types {
        justify-content: space-around;
        overflow: visible;
    }
}