.menu {
    position: absolute;
    padding: 78px 40px;
    top: 60px;
    left: -20px;
    right: -20px;
    display: flex;
    flex-direction: column;
    transition: .25s;
    z-index: 1;
    background-color: #fff;
    transform: translate(160%);
    display: none;
}

.menu-active {
    transform: translate(0);
    display: block;
}



.button {
    margin-top: 30px;
}

@media screen and (min-width: 768px) {
    .button {
        display: none;
    }

    .menu {
        height: 60px;
        padding: 20px 40px;
    }
}

@media screen and (min-width: 1240px) {
    .container {
        display: none;
    }
}