.container {
    width: 100%;
    min-width: 730px;
}

.table {
    width: 100%;
    border-top: 1px solid rgba(221, 227, 235, 1);
}

.th {
    padding: 11px 0;
    font-size: 16px;
    font-weight: 500;
    color: rgba(171, 177, 197, 1);
    text-align: left;
}

.td {
    padding: 8px 0;
    font-size: 16px;
    font-weight: 500;
    color: rgba(20, 35, 61, 1);
    line-height: 19.5px; 
}

.td_main {
    border-bottom: 1px solid rgba(221, 227, 235, 1);
    padding: 25px 0;
}

.arrow {
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 2px;
}

.footer__row {
    padding-top: 14px;
    border-top: 1px solid rgba(221, 227, 235, 1);
    border-collapse: collapse;
}

tfoot .th {
    text-align: right;
}

.additional {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: rgba(20, 35, 61, 1);
}

.additional__buttons {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    align-items: end;
    justify-content: end;
}

.additional__info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    border: 1px solid grey;
    border-radius: 6px;
}
