.block {
    padding: 7px 0;
    display: grid;
    row-gap: 18px;
}

.text {
    color: rgba(41, 127, 255, 1);
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 50px;
}

.error-message {
    color: red;
    position: relative;
    top: -30px;
}

.label {
    font-size: 14px;
    color: rgba(171, 177, 197, 1);
}



@media screen and (min-width: 768px) {
    .block {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }

    .subtitle {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (min-width: 1240px) {
    .subtitle {
        display: none;
    }

    .block {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .button {
        grid-row-start: 3;
    }
}