.td {
    padding: 7px;
    text-align: right;
}

.table__top {
    table-layout: fixed;
    width: 100%;
    font-size: 14px;
    font-weight: 600;
}

.table__top .td:nth-child(5) {
    min-width: 140px;
    font-size: 14px;
}

.table__top th:nth-child(1),
.table__top th:nth-child(2),
.table__top td:nth-child(1),
.table__top td:nth-child(2) {
    width: 24%;
    text-align: left;
}

.table__top td:nth-child(1) {
    padding: 14px 0;
}

.tr__clipable {
    cursor: pointer;
}

.arrow {
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 2px;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    border: 1px solid grey;
    border-radius: 6px;
    text-align: center;
}
