.container {
    margin-top: -5px;
}

.search-results-block {
    padding: 15px 20px 30px 20px;
    background-color: rgba(242, 244, 247, 1);
    border-radius: 20px;
}

@media screen and (min-width: 700px) {

    .popup__container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}