.container {
    margin: 40px 0 100px 0;
    padding: 45px 20px 30px;
    background-color: rgba(242, 244, 247, 1);
    border-radius: 20px;
    min-width: 730px;
}

.title {
    font-size: 36px;
    text-align: center;
    line-height: 43px;
}