.container {
    padding: 45px 20px;
    background-color: rgba(242, 244, 247, 1);
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.scrolling {
    overflow-x: auto;
}

.title {
    font-size: 36px;
    font-weight: 600;
    color: rgba(20, 35, 61, 1);
    margin-bottom: 36px;
}

.dropdown {
    display: none;
    width: 300px;
}

.navigation__list {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color:rgba(20, 35, 61, 1);
}

.window {
    padding-bottom: 21px;
}

.window--active {
    color: rgba(41, 127, 255, 1);
    border-bottom: 2px solid rgba(41, 127, 255, 1);
}

@media screen and (max-width: 768px) {
    .navigation {
        display: none;
    }

    .dropdown {
        display: block;
    }

    .title {
        font-size: 32px;
        font-weight: 500;
    }
}