html {
box-sizing: border-box;
}
*, *:before, *::after {
    box-sizing: inherit;
}
body,
p,
h1,
h2,
h3,
h4,
ul,
li,
figure,
figcaption {
    margin: 0;
}

a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&family=IBM+Plex+Sans:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700;800&family=Oswald:wght@400;500&display=swap');

