.container {
    margin: 30px 0 90px;
    min-width: 730px;
}

.container__upper {
    padding: 20px 40px;
    background-color: rgba(242, 244, 247, 1);
    border-radius: 20px;
}

.table {
    padding: 40px 40px 65px;
    background-color: rgba(242, 244, 247, 1);
    border-radius: 20px;
}

.table__top {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 25px;
    text-align: right;
}


.title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 13px;
}

.th__top {
    font-size: 16px;
    font-weight: 500;
    color: rgba(171, 177, 197, 1);
    padding: 7px;
}

.table__top .th__top:nth-child(1) {
    text-align: left;
}

@media screen and (min-width: 768px) {
    .container {
        margin: 50px 0 135px;
    }

    .container__upper {
        padding: 40px 20px 50px;
    }

    .title {
        font-size: 36px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 1240px) {

    .container__upper {
        padding: 53px 40px 80px;
    }

    .title {
        font-size: 48px;
        margin-bottom: 45px;
    }
}