.confirmation {
    height: 60px;
    width: 100%;
    background-color: rgba(41, 127, 255, 1);
    border: none;
    color: rgba(255, 255, 255, 1);
    font-size: 22px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
}

.confirmation:hover {
    background-color: rgba(0, 94, 255, 1);
}