.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.month {
    display: flex;
    flex-direction: row;
    column-gap: 18px;
    align-items: center;
}

.month_name {
    text-align: end;
    width: 70px;
    font-size: 15px;
    color: rgba(119, 117, 127, 1)
}

.buttons {
    display: flex;
    flex-direction: column;

}